* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.container-large {
  width: 95%;
  margin: 0 auto;
}

header {
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #f5f5f5;
}

header #topHeader {
  height: 60px;
  width: 100%;
}

header #topHeader .wrapLogo {
  display: flex;
  align-items: center;
  height: 100%;
  float: left;
}

header #topHeader .wrapLogo img {
  height: 25px;
}

header #topHeader .wrapLogoPrivacy {
  display: flex;
  align-items: center;
  height: 100%;
}

header #topHeader .wrapLogoPrivacy h2 {
  color: #5f6368;
  font-size: 22px;
  margin-left: 10px;
  font-weight: lighter;
  margin-bottom: 5px;
}

header #subHeader {
  height: 40px;
  width: 100%;
}

header #subHeader .wrapNav {
  display: flex;
  align-items: center;
  height: 100%;
}

header #subHeader .wrapNav .nav {
  list-style-type: none;
}

header #subHeader .wrapNav .nav li {
  display: inline-block;
  margin-right: 45px;
}

header #subHeader .wrapNav .nav li:last-child {
  border-bottom: 3px solid blue;
  padding-top: 10px;
  padding-bottom: 5px;
  color: blue;
}

header #subHeader .wrapNav .nav li a {
  color: #5f6368;
  text-decoration: none;
  font-weight: bold;
}

main {
  height: 100%;
  width: 100%;
}

main #wrapAll {
  height: 100%;
  padding-top: 100px;
}

main #wrapAll .domanda {
  padding-bottom: 40px;
}

main #wrapAll .domanda h2 {
  color: #000;
  font-weight: bold;
  font-size: 24px;
}

main #wrapAll .risposta {
  padding-bottom: 40px;
}

main #wrapAll .risposta p {
  font-size: 14px;
  color: #5f6368;
}

footer {
  height: 60px;
  background-color: #f5f5f5;
  width: 100%;
}

footer nav {
  display: flex;
  align-items: center;
  height: 60px;
}

footer nav ul {
  list-style-type: none;
}

footer nav ul li {
  display: inline-block;
  font-size: 10px;
}

footer nav ul li a {
  color: #5f6368;
  text-decoration: none;
}

