header {
  height: 100px;
  width: 100%;
  & #topHeader {
    height: 60px;
    width: 100%;

    .wrapLogo {
      display: flex;
      align-items: center;
      height: 100%;
      float: left;
      img {
        height: 25px;
      }
    }

    .wrapLogoPrivacy {
      display: flex;
      align-items: center;
      height: 100%;
      h2 {
        color: $grigioChiaro;
        font-size: 22px;
        margin-left: 10px;
        font-weight: lighter;
        margin-bottom: 5px;
      }
    }
  }
  & #subHeader {
    height: 40px;
    width: 100%;
    & .wrapNav {
      height: 100%;
      .nav {
        list-style-type: none;
        li {
          display: inline-block;
          margin-right: 45px;
          a {
            color: $grigioChiaro;
            text-decoration: none;
          }
        }
      }
    }
  }
}
