header {
  height: 100px;
  width: 100%;
  & #topHeader {
    height: 60px;
    width: 100%;
    .wrapLogo {
      height: 100%;
      display: flex;
      align-items: center;
      img {
        height: 25px;
      }
    }
  }
  & #subHeader {
    height: 40px;
    width: 100%;
    background-color: orange;
  }
}
